@keyframes harchi {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(700px, 500px);
  }
}

.mix {
  width: 100px;
  height: 100px;
  background-color: blue;
  -webkit-animation: harchi 1s linear 0s infinite alternate both running;
  -moz-animation: harchi 1s linear 0s infinite alternate both running;
  -ms-animation: harchi 1s linear 0s infinite alternate both running;
  -o-animation: harchi 1s linear 0s infinite alternate both running;
  -webkit-animation: harchi 1s linear 0s infinite alternate both running;
}
